%section#dropdown
  .page-header
    %h1
      Dropdown
      %small bootstrap-dropdown.js
  .row
    .span4
      %p This plugin is for adding dropdown interaction to the bootstrap topbar or tabbed navigations.
    .span12
      %h3 Using bootstrap-dropdown.js
      %pre.prettyprint
        :preserve
          $('#topbar').dropdown()
      %h3 Markup
      %p To quickly add dropdown functionality to any nav element, use the <code>data-dropdown</code> attribute. Any valid bootstrap dropdown will automatically be activated.
      %pre.prettyprint
        :preserve
          &lt;ul class="tabs"&gt;
            &lt;li class="active"&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li class="dropdown" data-dropdown="dropdown" &gt;
              &lt;a href="#" class="dropdown-toggle"&gt;Dropdown&lt;/a&gt;
              &lt;ul class="dropdown-menu"&gt;
                &lt;li&gt;&lt;a href="#"&gt;Secondary link&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                &lt;li class="divider"&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
      %p
        %span.label.notice Notice
        If your ui has several dropdowns, consider adding the <code>data-dropdown</code> attribute to a more significant container element like <code>.tabs</code> or <code>.topbar</code>.
      %h3 Methods
      %h4 $().dropdown()
      %p A programatic api for activating menus for a given topbar or tabbed navigation.
      %h3 Demo
      .topbar-wrapper
        #topbar-example.topbar{ "data-dropdown" => "dropdown" }
          .topbar-inner
            .container
              %h3
                %a{ :href => "#" } Project Name
              %ul
                %li
                  %a{ :href => "#" } Link
                %li
                  %a{ :href => "#" } Link
              %form{ :action => "" }
                %input{ :type => "text",  :placeholder => "Search" }
              %ul.nav.secondary-nav
                %li.menu
                  %a.menu{ :href => "#" } Dropdown 1
                  %ul.menu-dropdown
                    %li
                      %a{ :href => "#" } Secondary link
                    %li
                      %a{ :href => "#" } Something else here
                    %li.divider
                    %li
                      %a{ :href => "#" } Another link
                %li.menu
                  %a.menu{ :href => "#" } Dropdown 2
                  %ul.menu-dropdown
                    %li
                      %a{ :href => "#" } Secondary link
                    %li
                      %a{ :href => "#" } Something else here
                    %li.divider
                    %li
                      %a{ :href => "#" } Another link

