%section#grid-system
  .page-header
    %h1
      Grid system
      %small Rock the standard 940px or roll your own
  %h2 Default grid
  .row.show-grid
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
  .row.show-grid
    .span2 2
    .span2 2
    .span2 2
    .span2 2
    .span2 2
    .span2 2
    .span2 2
    .span2 2
  .row.show-grid
    .span3 3
    .span3 3
    .span3 3
    .span3 3
    .span3 3
    .span1 1
  .row.show-grid
    .span4 4
    .span4 4
    .span4 4
    .span4 4
  .row.show-grid
    .span-one-third 1/3
    .span-one-third 1/3
    .span-one-third 1/3
  .row.show-grid
    .span-one-third 1/3
    .span-two-thirds 2/3
  .row.show-grid
    .span4 4
    .span6 6
    .span6 6
  .row.show-grid
    .span8 8
    .span8 8
  .row.show-grid
    .span5 5
    .span11 11
  .row.show-grid
    .span16 16
  %br
  %h2 Offsetting columns
  .row.show-grid
    .span4 4
    .span8.offset4 8 offset 4
  .row.show-grid
    .span-one-third.offset-two-thirds 1/3 offset 2/3s
  .row.show-grid
    .span4.offset4 4 offset 4
    .span4.offset4 4 offset 4
  .row.show-grid
    .span5.offset3 5 offset 3
    .span5.offset3 5 offset 3
  .row.show-grid
    .span10.offset6 10 offset 6
  %br
  %h2 Nesting columns
  .row.show-grid
    .span12
      Level 1 of column
      .row.show-grid
        .span6
          Level 2
        .span6
          Level 2

