%section#layouts
  .page-header
    %h1
      Layouts
      %small
        Basic templates to create webpages

  .row
    %div{:class => "span8 columns"}
      %h2
        Fixed layout
      %p
        The default and simple 940px-wide, centered layout for just about any website or page provided by a single
        %code
          &lt;div.container&gt;
        \.
      .mini-layout
        .mini-layout-body






