%section#modal
  .page-header
    %h1 Modals <small>bootstrap-modal.js</small>
  .row
    .span4
      %p Our Modal plugin is a super slim take on the traditional modal js plugin, taking special care to include only the bare functionality that we require here at twitter.
    .span12
      %h3 Using bootstrap-modal
      %pre.prettyprint
        :preserve
          $('#my-modal').modal(options)
      %h3 Options
      %table.zebra-striped
        <thead>
          <tr>
            <th style="width: 100px;">Name</th>
            <th style="width: 50px;">type</th>
            <th style="width: 50px;">default</th>
            <th>description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>backdrop</td>
            <td>boolean, string</td>
            <td>false</td>
            <td>Includes a modal-backdrop element. Set backdrop to <code>"static"</code> if you do not want the modal closed when the backdrop is clicked.</td>
          </tr>
          <tr>
            <td>keyboard</td>
            <td>boolean</td>
            <td>false</td>
            <td>Closes the modal when escape key is pressed</td>
          </tr>
          <tr>
            <td>show</td>
            <td>boolean</td>
            <td>false</td>
            <td>Opens modal on class initialization</td>
          </tr>
        </tbody>
      </table>
      <h3>Markup</h3>
      <p>You can activate modals on your page easily without having to write a single line of javascript. Just give an element a <code>data-controls-modal</code> attribute which corresponds to a modal element id, and when clicked, it will launch your modal. To add modal options, just include them as data attributes as well.</p>
<pre class="prettyprint linenums">
&lt;a class="btn" data-controls-modal="my-modal" data-backdrop="static" &gt;Launch Modal&lt;/a&gt;
</pre>
      <p><span class="label notice">Notice</span> If you want your modal to animate in and out, just add a <code>.fade</code> class to your <code>.modal</code> element (refer to the demo to see this in action).</p>
      <h3>Methods</h3>
      <h4>.modal(options)</h4>
      <p>Activates your content as a modal. Accepts an optional options <code>object</code>.
<pre class="prettyprint linenums">
$('#my-modal').modal({
keyboard: true
})</pre>
      <h4>.modal('toggle')</h4>
      <p>Manually toggles a modal.</p>
      <pre class="prettyprint linenums">$('#my-modal').modal('toggle')</pre>
      <h4>.modal('show')</h4>
      <p>Manually opens a modal.</p>
      <pre class="prettyprint linenums">$('#my-modal').modal('show')</pre>
      <h4>.modal('hide')</h4>
      <p>Manually hides a modal.</p>
      <pre class="prettyprint linenums">$('#my-modal').modal('hide')</pre>
      <h4>.modal(true)</h4>
      <p>Returns an elements modal class instance.</p>
      <pre class="prettyprint linenums">$('#my-modal').modal(true)</pre>
      <p><span class="label notice">Notice</span> Alternatively, this can be retrieved with <code>$().data('modal')</code>.</p>
      <h3>Events</h3>
      <p>Bootstrap's modal class exposes a few events for hooking into modal functionality. </p>
      <table class="zebra-striped">
        <thead>
          <tr>
            <th style="width: 150px;">Event</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>show</td>
            <td>This event fires immediately when the <code>show</code> instance method is called.</td>
          </tr>
          <tr>
            <td>shown</td>
            <td>This event is fired when the modal has been made visible to the user (will wait for css transitions to complete).</td>
          </tr>
          <tr>
            <td>hide</td>
            <td>This event is fired immediately when the <code>hide</code> instance method has been called.</td>
          </tr>
          <tr>
            <td>hidden</td>
            <td>This event is fired when the modal has finished being hidden from the user (will wait for css transitions to complete).</td>
          </tr>
        </tbody>
      </table>

<pre class="prettyprint linenums">
$('#my-modal').bind('hidden', function () {
// do something ...
})</pre>
      <h3>Demo</h3>
      <!-- sample modal content -->
      <div id="modal-from-dom" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close">&times;</a>
          <h3>Modal Heading</h3>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn primary">Primary</a>
          <a href="#" class="btn secondary">Secondary</a>
        </div>
      </div>

      <button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn danger">Launch Modal</button>

    </div>
  </div>
</section>

