%section#modals
  .page-header
    %h1 Modals <small>bootstrap-modal.js</small>
  .row
    .span4
    .span12
      %h3 Using bootstrap-modal
      %pre.prettyprint
        :preserve
          $('#my-modal').modal(options)
      %h3 Options
      %table.zebra-striped
        %thead
          %tr
            %th{ :style => "width: 100px;" } Name
            %th{ :style => "width: 50px;" } type
            %th{ :style => "width: 50px;" } default
            %th description
        %tbody
          %tr
            %td backdrop
            %td boolean, string
            %td false
            %td Includes a modal-backdrop element. Set backdrop to <code>"static"</code> if you do not want the modal closed when the backdrop is clicked.
          %tr
            %td keyboard
            %td boolean
            %td false
            %td Closes the modal when escape key is pressed
          %tr
            %td show
            %td boolean
            %td false
            %td Opens modal on class initialization
      %h3 Markup
      %p You can activate modals on your page easily without having to write a single line of javascript. Just give an element a <code>data-controls-modal</code> attribute which corresponds to a modal element id, and when clicked, it will launch your modal. To add modal options, just include them as data attributes as well.
      %pre.prettyprint
        :preserve
          &lt;a class="btn" data-controls-modal="my-modal" data-backdrop="static" &gt;Launch Modal&lt;/a&gt;
      %p
        %span.label.notice Notice
        If you want your modal to animate in and out, just add a <code>.fade</code> class to your <code>.modal</code> element (refer to the demo to see this in action).
      %h3 Methods
      %h4 .modal(options)
      %p Activates your content as a modal. Accepts an optional options <code>object</code>.
      %pre.prettyprint
        :preserve
          $('#my-modal').modal({
          keyboard: true
          })
      %h4 .modal('toggle')
      %p Manually toggles a modal.
      %pre.prettyprint
        :preserve
          $('#my-modal').modal('toggle')
      %h4 .modal('show')
      %p Manually opens a modal.
      %pre.prettyprint
        :preserve
          $('#my-modal').modal('show')
      %h4 .modal('hide')
      %p Manually hides a modal.
      %pre.prettyprint
        :preserve
          $('#my-modal').modal('hide')
      %h4 .modal(true)
      %p Returns an elements modal class instance.
      %pre.prettyprint
        :preserve
          $('#my-modal').modal(true)
      %p
        %span.label.notice Notice
        Alternatively, this can be retrieved with <code>$().data('modal')</code>.
      %h3 Events
      %p Bootstrap's modal class exposes a few events for hooking into modal functionality.
      %table.zebra-striped
        %thead
          %tr
            %th{ :style => "width: 150px;" } Event
            %th Description
        %tbody
          %tr
            %td show
            %td This event fires immediately when the <code>show</code> instance method is called.
          %tr
            %td shown
            %td This event is fired when the modal has been made visible to the user (will wait for css transitions to complete).
          %tr
            %td hide
            %td This event is fired immediately when the <code>hide</code> instance method has been called.
          %tr
            %td hidden
            %td This event is fired when the modal has finished being hidden from the user (will wait for css transitions to complete).

      %pre.prettyprint
        :preserve
          $('#my-modal').bind('hidden', function () {
          // do something ...
          })
      %h3 Demo
      #modal-from-dom.modal.hide.fade
        .modal-header
          %a.close{ :href => "#" } &times;
          %h3 Modal Heading
        .modal-body
          %p One fine body…
        .modal-footer
          %a.btn.primary{ :href => "#" } Primary
          %a.btn.secondary{ :href => "#" } Secondary

      %button.btn.danger{ "data-controls-modal" => "modal-from-dom", "data-backdrop" => "true", "data-keyboard" => "true" } Launch Modal

