%header.jumbotron.masthead#overview
  .inner
    .container
      %h1 Bootstrap, from Twitter
      %p.lead
        Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites.
        %br
        It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.
        %br

