%section#popovers
  .page-header
    %h1 Popovers <small>Components for displaying content in modals, tooltips, and popovers</small>
  .row
    .span4
      %h2 Modals
    .span12
      .well{ :style => "background-color: #888; border: none; padding: 40px;" }
        .modal{ :style => "position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1" }
          .modal-header
            %a.close{ :href => "#" } &times;
            %h3 Modal Heading
          .modal-body
            %p One fine body…
          .modal-footer
            %a.btn.primary{ :href => "#" } Primary
            %a.btn.secondary{ :href => "#" } Secondary
  .row
    .span4
      %h2 Tooltips
    .span12
      %h3 See <a href="#twipsy">Javascripts / Tooltips</a>
  .row
    .span4
      %h2 Popovers
    .span12
      .well.popover-well
        .popover-wrapper
          .popover.left
            .arrow
            .inner
              %h3.title Popover Title
              .content
                %p Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          = image_tag("bird.png", :class => "large-bird")

