%section#scrollspy
  .page-header
    %h1
      ScrollSpy
      %small bootstrap-scrollspy.js
  .row
    .span4
      %p This plugin is for adding the scrollspy (auto updating nav) interaction to the bootstrap topbar.
    .span12
      %h2 Using bootstrap-scrollspy.js
      %pre.prettyprint
        :preserve
          $('#topbar').scrollSpy()
      %h3 Markup
      %p To easily add scrollspy behavior to your nav, just add the <code>data-scrollspy</code> attribute to the <code>.topbar</code>.
      %pre.prettyprint
        :preserve
          &lt;div class="topbar" data-scrollspy="scrollspy" &gt;...&lt;/div&gt;
      %h3 Methods
      %h4 $().scrollSpy()
      %p Auto activates navigation buttons by users scroll position.
      %pre.prettyprint
        :preserve
          $('body > .topbar').scrollSpy()
      %p
        %span.label.notice Notice
        Topbar anchor tags must have resolvable id targets. For example, a <code>&lt;a href="#home"&gt;home&lt;/a&gt;</code> must correspond to something in the dom like <code>&lt;div id="home"&gt;&lt;/div&gt;</code>.
      %h4 .scrollSpy('refresh')
      %p The scrollspy caches nav buttons and section coordinates for performance. If you need to update this cache (likely if you have dynamic content) just call this refresh method. If you used the data attribute to define your scrollspy, just call refresh on the body.
      %pre.prettyprint
        $('body').scrollSpy('refresh')
      %h3 Demo
      %p Checkout the the topbar navigation on this page.

