%section#tables
  .page-header
    %h1 Tables <small>For, you guessed it, tabular data</small>
  .row
    .span4
      %h2 Building tables
    .span12
      %h3 Example: Default table styles
      %p All tables will be automatically styled with only the essential borders to ensure readability and maintain structure. No need to add extra classes or attributes.
      %table
        %thead
          %tr
            %th #
            %th First Name
            %th Last Name
            %th Language
        %tbody
          %tr
            %td 1
            %td Some
            %td One
            %td English
          %tr
            %td 2
            %td Joe
            %td Sixpack
            %td English
          %tr
            %td 3
            %td Stu
            %td Dent
            %td Code
      %h3 Example: Zebra-striped
      %p Get a little fancy with your tables by adding zebra-striping&mdash;just add the <code>.zebra-striped</code> class.
      %table.zebra-striped
        %thead
          %tr
            %th #
            %th First Name
            %th Last Name
            %th Language
        %tbody
          %tr
            %td 1
            %td Some
            %td One
            %td English
          %tr
            %td 2
            %td Joe
            %td Sixpack
            %td English
          %tr
            %td 3
            %td Stu
            %td Dent
            %td Code
      %p <strong>Note:</strong> Zebra-striping is a progressive enhancement not available for older browsers like IE8 and below.
      %h3 Example: Zebra-striped w/ TableSorter.js
      %p Taking the previous example, we improve the usefulness of our tables by providing sorting functionality via <a href="http://jquery.com">jQuery</a> and the <a href="http://tablesorter.com/docs/">Tablesorter</a> plugin. <strong>Click any column’s header to change the sort.</strong>
      %table.zebra-striped#sortTableExample
        %thead
          %tr
            %th #
            %th.yellow First Name
            %th.blue Last Name
            %th.green Language
        %tbody
          %tr
            %td 1
            %td Your
            %td One
            %td English
          %tr
            %td 2
            %td Joe
            %td Sixpack
            %td English
          %tr
            %td 3
            %td Stu
            %td Dent
            %td Code

      %pre.prettyprint
        :preserve
          &lt;script src="js/jquery/jquery.tablesorter.min.js"&gt;&lt;/script&gt;
          &lt;script &gt;
            $(function() {
              $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
            });
          &lt;/script&gt;
          &lt;table class="zebra-striped"&gt;
            ...
          &lt;/table&gt;

