%section#twipsy
  .page-header
    %h1 Twipsy <small>bootstrap-twipsy.js</small>
  .row
    .span4
      %p Based on the excellent jQuery.tipsy plugin written by Jason Frame; twipsy is an updated version, which doesn't rely on images, uses css3 for animations, and data-attributes for title storage!</p>
    .span12
      %h3 Using bootstrap-twipsy.js
      %pre.prettyprint
        :preserve
          $('#example').twipsy(options)
      %h3 Options
      %table.zebra-striped
        %thead
          %tr
            %th{ :style => "width: 100px;" } Name
            %th{ :style => "width: 100px;" } type
            %th{ :style => "width: 50px;" } default
            %th description
        %tbody
          %tr
            %td animate
            %td boolean
            %td true
            %td apply a css fade transition to the tooltip
          %tr
            %td delayIn
            %td number
            %td 0
            %td delay before showing tooltip (ms)
          %tr
            %td delayOut
            %td number
            %td 0
            %td delay before hiding tooltip (ms)
          %tr
            %td fallback
            %td string
            %td ''
            %td text to use when no tooltip title is present
          %tr
            %td placement
            %td string
            %td 'above'
            %td how to position the tooltip - above | below | left | right
          %tr
            %td html
            %td boolean
            %td false
            %td allows html content within tooltip
          %tr
            %td live
            %td boolean
            %td false
            %td use event delegation instead of individual event handlers
          %tr
            %td offset
            %td number
            %td 0
            %td pixel offset of tooltip from target element
          %tr
            %td title
            %td string, function
            %td 'title'
            %td attribute or method for retrieving title text
          %tr
            %td trigger
            %td string
            %td 'hover'
            %td how tooltip is triggered - hover | focus | manual
      %h3 Methods
      %h4 $().twipsy(options)
      %p Attaches a twipsy handler to an element collection.
      %h4 .twipsy('show')
      %p Reveals an elements twipsy.
      %pre.prettyprint
        :preserve
          $('#element').twipsy('show')
      %h4 .twipsy('hide')
      %p Hides an elements twipsy.
      %pre.prettyprint
        :preserve
          $('#element').twipsy('hide')
      %h4 .twipsy(true)
      %p Returns an elements twipsy class instance.
      %pre.prettyprint
        :preserve
          $('#element').twipsy(true)
      %p
        %span.label.notice Notice
        Alternatively, this can be retrieved with <code>$().data('twipsy')</code>.
      %h3 Demo
      .well
        %p.muted Tight pants next level keffiyeh <a href="#" rel='twipsy' title='Some title text'>you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" rel='twipsy' title='Another twipsy'>have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A <a href="#" rel='twipsy' title='Another one here too'>really ironic</a> artisan whatever keytar, scenester farm-to-table banksy Austin <a href="#" rel='twipsy' title='The last tip!'>twitter handle</a> freegan cred raw denim single-origin coffee viral.
      :javascript
        $(function () {
          $("a[rel=twipsy]").twipsy({
            live: true
          })
        })

