// Sample SCSS usage
//@import "compass/css3/opacity";
//
//h1 {
//  @include opacity(0.5);
//}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}

.form-stacked div.alert-message {
  margin-left: -10px;
}

.container {
  padding-top: 50px;
}

.topbar .container {
  padding-top: 0px;
}

