body.administration {
  padding-bottom: 40px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}

.administration .sidebar-nav {
  padding: 9px 0;
}

// Checkbox with right label

.wrapped {
  span {
    padding-left: 4px;
  }
  input[type="checkbox"] {
    margin-top: 2px;
  }
}

